name: 'SSH Docker Compose Deploy'
description: 'Connects to a server via SSH and runs git pull and docker compose up.'

# Define the inputs the action will accept
inputs:
  ssh-private-key:
    description: 'The private SSH key for authentication'
    required: true

runs:
  using: "composite"
  steps:
    - name: Deploy to server
      shell: bash
      run: |
        # Start the SSH agent and add the private key
        eval "$(ssh-agent -s)"
        echo "${{ inputs.ssh-private-key }}" | ssh-add - > /dev/null

        # Create the SSH directory and add the server's host key to known_hosts
        mkdir -p ~/.ssh
        ssh-keyscan -H "ec2-54-252-163-55.ap-southeast-2.compute.amazonaws.com" >> ~/.ssh/known_hosts

        # Execute the deployment commands on the remote server
        ssh ubuntu@ec2-54-252-163-55.ap-southeast-2.compute.amazonaws.com << 'EOF'
          set -e;
        
          cd /home/ubuntu/dev-webserver
          git pull
        
          # Log in to Docker Hub using the secret token
          cat /home/ubuntu/.docker-hub-secret | docker login -u igornadj --password-stdin
        
          # Run docker-compose commands
          docker image prune --force
          docker compose pull --quiet
          docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d --remove-orphans
        EOF
